.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  background-color: beige;
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 50px;
  width: 100px;
  font-size: 25px;
  border-radius: 15px;
  border: none;
  background-color: black;
  color: beige;
  &:hover {
    background-color: beige;
    color: black;
    border: 2px solid black;
  }
}
